// -----------------------------------------------------------------------------
// Article list
// -----------------------------------------------------------------------------

.article-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 32em;

    &.is-hidden {
        overflow: hidden;
        max-height: 0;
    }

    &__item {
        @extend %pb;
        @extend %mb;

        border-bottom: solid 2px rgba(get-color(brand, primary), .05);
    }
}
