// -----------------------------------------------------------------------------
// Main nav
// -----------------------------------------------------------------------------

.main-nav {
    @extend %pt--small;

    list-style: none;
    padding-left: 0;
    margin: 0;

    @include bk(small) {
        display: none !important;
    }

    @include bk(medium) {
        float: right;
    }

    @include bk(large) {
        float: right;
    }

    &__item {

        @include bk(medium) {
            display: inline-block;
        }

        @include bk(large) {
            display: inline-block;
        }

        a {
            @extend %small-pt;
            @extend %small-pb;
            @extend %pt;
            @extend %pb;
            @extend %pl--small;
            @extend %pr--small;
            @extend %unlink;

            @include bk(small) {
                display: inline-block;
            }

            @include bk(large) {
                &,
                &:hover,
                &:active,
                &:visited {
                    color: get-color(base, 'white');
                }
            }

            @include bk(medium) {
                &,
                &:hover,
                &:active,
                &:visited {
                    color: get-color(base, 'white');
                }
            }
        }
    }
}
