// -----------------------------------------------------------------------------
// Avatar
// -----------------------------------------------------------------------------

.avatar {
    display: inline-block;
    background-color: get-color(brand, primary);
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;

    &__image {
        display: block;
        mix-blend-mode: luminosity;
    }


}
