// -----------------------------------------------------------------------------
// Background image
// -----------------------------------------------------------------------------

.bg {
    background-repeat: no-repeat;
    background-image: image-url('header-bg-1.svg');
    background-color: get-color('base', 'white');

    @include bk(large) {
        background-position: 100% 0;
        background-size: auto 400px;
    }

    @include breakpoint(1600px) {
        background-size: auto 500px;
    }

}
