// -----------------------------------------------------------------------------
// Box sizing
// -----------------------------------------------------------------------------

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}
