// -----------------------------------------------------------------------------
// Nav
// -----------------------------------------------------------------------------

.nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li { display: inline-block; }
}
