// -----------------------------------------------------------------------------
// Spacings
// -----------------------------------------------------------------------------
// Table of contents:
// 1. Full margin
// 2. Full padding
// 3. Remove margin
// 4. Remove padding
// 5. Side magins and paddings
// 6. Spacing modifiers

$spacing: (
    tiny: $quarter-spacing-unit,
    small: $half-spacing-unit,
    large: $base-spacing-unit * 2,
    huge: $base-spacing-unit * 4
);


// -----------------------------------------------------------------------------
// 1. Full margin
// -----------------------------------------------------------------------------

@include each-breakpoint(m) {
    margin: $base-spacing-unit;
}


// -----------------------------------------------------------------------------
// 2. Full padding
// -----------------------------------------------------------------------------

@include each-breakpoint(p) {
    padding: $base-spacing-unit;
}


// -----------------------------------------------------------------------------
// 3. Remove margin
// -----------------------------------------------------------------------------

@include each-breakpoint(m0) {
    margin: 0;
}


// -----------------------------------------------------------------------------
// 4. Remove padding
// -----------------------------------------------------------------------------

@include each-breakpoint(p0) {
    padding: 0;
}


// -----------------------------------------------------------------------------
// 5. Side margins and paddings
// -----------------------------------------------------------------------------

$sides: t top, l left, b bottom, r right;
@each $side in $sides {
    @include each-breakpoint(m#{nth($side, 1)}) {
        margin-#{nth($side, 2)}: $base-spacing-unit;
    }

    @include each-breakpoint(p#{nth($side, 1)}) {
        padding-#{nth($side, 2)}: $base-spacing-unit;
    }
}


// -----------------------------------------------------------------------------
// 6. Spacing modifiers
// -----------------------------------------------------------------------------

@each $size, $value in $spacing {

    @include each-breakpoint(m--#{$size}) {
        margin: $value;
    }

    @include each-breakpoint(p--#{$size}) {
        padding: $value;
    }

    @each $side in $sides {
        @include each-breakpoint(m#{nth($side, 1)}--#{$size}) {
            margin-#{nth($side, 2)}: $value;
        }

        @include each-breakpoint(p#{nth($side, 1)}--#{$size}) {
            padding-#{nth($side, 2)}: $value;
        }
    }
}

