// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------//
// Table of contents:
// 1. Root font size
// 2. Root font family
// 3. Typographic scale
// 4. Anchors
// 5. Colors
// 6. Text alignment
// 7. Text transforms
// 8. Hidden text
// 9. Remove styling
// 10. Line heading
// 11. Font weights

@import 'mixins/set-font-size';

// -----------------------------------------------------------------------------
// 1. Root font size
// -----------------------------------------------------------------------------

@include set-font-size($base-font-size, $base-line-height);

// -----------------------------------------------------------------------------
// 2. Root font family
// -----------------------------------------------------------------------------

html {
    font-family: $base-font-family;
    font-style: normal;
}


// -----------------------------------------------------------------------------
// 3. Typographic scale
// -----------------------------------------------------------------------------

@each $size, $value in $typographic-scale {
    %#{$size},
    .#{$size} {
        font-size: $value;
    }
}

#{headings()} {
    font-weight: 600;
}

h1 {
    @extend %alpha;

    line-height: 1;

    @include bk(small) {
        font-size: 32px;
    }
}

h2 { @extend %gamma; }
h3 { @extend %delta; }
h4 { @extend %epsilon; }
h5 { @extend %epsilon; }
h6 { @extend %epsilon; }


// -----------------------------------------------------------------------------
// 4. Anchors
// -----------------------------------------------------------------------------

a {
    color: get-color(links, base);
    text-decoration: none;

    // States
    @each $state in (hover, active, visited) {
        &:#{$state} {
            color: get-color(links, $state);
            text-decoration: none;
        }
    }
}

// -----------------------------------------------------------------------------
// 5. Colors
// -----------------------------------------------------------------------------

// Base text color, brand color, …
$text-colors: map-get($colors, text);

@each $color, $value in $text-colors {
    %#{$color}-text-color,
    .#{$color}-text-color {
        color: get-color(text, $color);
    }
}

body {
    @extend %base-text-color;
}

// -----------------------------------------------------------------------------
// 6. Text alignment
// -----------------------------------------------------------------------------

@include each-breakpoint(text--left) {
    text-align: left;
}

@include each-breakpoint(text--center) {
    text-align: center;
}

@include each-breakpoint(text--right) {
    text-align: right;
}

// -----------------------------------------------------------------------------
// 7. Text styling
// -----------------------------------------------------------------------------

%caps
.caps { text-transform: uppercase; }

// -----------------------------------------------------------------------------
// 8. Hidden text
// -----------------------------------------------------------------------------

@include each-breakpoint(hidden-text) {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// -----------------------------------------------------------------------------
// 9. Remove styling
// -----------------------------------------------------------------------------

%unlink,
.unlink {
    &,
    &:hover,
    &:active,
    &:visited {
        color: inherit;
        text-decoration: inherit;
    }
}

// -----------------------------------------------------------------------------
// 10. Line heading
// -----------------------------------------------------------------------------

%line-heading,
.line-heading {
    padding-top: $half-spacing-unit;

    &:before {
        content: '';
        display: block;
        position: relative;
        top: -$half-spacing-unit;
        border-top: solid 2px get-color(brand, primary);
        max-width: 150px;
    }
}

// -----------------------------------------------------------------------------
// 11. Font weights
// -----------------------------------------------------------------------------

%face--light,
.face--light,
%face--300,
.face--300 {
    font-weight: 300;
}

%face--normal,
.face--normal,
%face--500,
.face--500 {
    font-weight: normal;
}

%face--bold,
.face--bold,
%face--600,
.face--600 {
    font-weight: 600;
}
