// -----------------------------------------------------------------------------
// Perf.Rocks
//
// Table of contents:
// 1. Settings
// 2. Frameworks and extensions
// 3. Mixins and Functions
// 3. Base styles
// 4. Layout
// 5. Modules
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// 1. Settings
// -----------------------------------------------------------------------------

@import 'settings';

// -----------------------------------------------------------------------------
// 2. Frameworks and extensions
// -----------------------------------------------------------------------------

@import 'compass',
        'normalize',
        'breakpoint';

// -----------------------------------------------------------------------------
// 3. Mixins and functions
// -----------------------------------------------------------------------------

@import 'functions/get-color';

// -----------------------------------------------------------------------------
// 3. Base styles
// -----------------------------------------------------------------------------

@import 'base/box-sizing',
        'base/breakpoints',
        'base/background-image',
        'base/typography',
        'base/images',
        'base/spacing',
        'base/avatar',
        'base/buttons',
        'base/containers';

// -----------------------------------------------------------------------------
// 4. Layout
// -----------------------------------------------------------------------------

@import 'layout/wrapper';

// -----------------------------------------------------------------------------
// 5. Modules
// -----------------------------------------------------------------------------

@import 'modules/intro',
        'modules/cards',
        'modules/main-nav';

