// -----------------------------------------------------------------------------
// Wrapper
// -----------------------------------------------------------------------------

%wrapper,
.wrapper {
    max-width: $site-wrapper-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;
}


.site-footer {
    &__author {
        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
